/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Dec 20, 2017, 9:37:33 PM
    Author     : xontik
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}
nav img {
    height: 3.5em;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.fill img {
    object-fit:cover;
}
/* @media only screen and (min-width: 601px){
  .container {
    width: 85%;
  }
}
@media only screen and (min-width: 993px){
  .container {
    width: 80%;
  }
} */
